<section class="testimonial">
    <div class = "title">
        <h2>customers</h2>
    </div>
<div class="containers">
    <owl-carousel-o [options]="testimonialslider">
        <ng-template carouselSlide>
            <div class="testimonial-image">
              <img src="../assets/imgs/customer1.jpg" alt="customer review">
            </div>
            <div class="testimonial-content">
                <h2>country/state</h2>
                <div class = "rating">
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "far fa-star"></i></span>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Praesentium quibusdam porro harum rem debitis quod mollitia
                   amet libero suscipit eligendi tempora sapiente modi, consequuntur 
                </p>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="testimonial-image">
              <img src="../assets/imgs/customer2.jpg" alt="customer review">
            </div>
            <div class="testimonial-content">
                <h2>country/state</h2>
                <div class = "rating">
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "far fa-star"></i></span>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Praesentium quibusdam porro harum rem debitis quod mollitia
                   amet libero suscipit eligendi tempora sapiente modi, consequuntur 
                </p>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="testimonial-image">
              <img src="../assets/imgs/customer3.jpg" alt="customer review">
            </div>
            <div class="testimonial-content">
                <h2>country/state</h2>
                <div class = "rating">
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "far fa-star"></i></span>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Praesentium quibusdam porro harum rem debitis quod mollitia
                   amet libero suscipit eligendi tempora sapiente modi, consequuntur 
                </p>
            </div>
        </ng-template>        
           
    </owl-carousel-o>
</div>
</section>
