<section class="footer-top">
    <div class="containers">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-logo">
                    <img src="../assets/imgs/logo.png" alt="footer-logo">
                </div>
                <div class="footer-top-menu">
                    <ul>
                        <li>
                            <i class="fa fa-home"></i>
                            <span class="heading">Address:</span>
                            <span class="address">Jeppiar Nagar,Rajiv Gandhi Salai,
                            </span> 
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <span class="heading">Mail us:</span>
                            <span class="email">
                                <a href="mailto:example@gmsil.com">example@gmail.com</a>
                            </span>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <span class="heading">Phone:</span>
                            <span class="number">
                                <a href="tel:1-888-345-6799">1-888-345-6799</a>
                            </span>
                        </li>
                        <li>
                            <a href="">
                                <img src="../assets/imgs/paymets.jpg" alt="payment">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-all-menu">
                    <h2>My Account</h2>
                    <ul>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Information</a>
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Order History</a>
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">My Wishlist</a>
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Privacy Policy</a>
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Site Map</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-all-menu">
                    <h2>Useful Links</h2>
                    <ul>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Blog</a>                                 
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Rooms</a>
                       </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Subscription</a>

                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Gift Card</a>
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Youtube</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-all-menu">
                    <h2>Our Services</h2>
                    <ul>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">About</a>
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Customer POlicy</a>
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Food Services</a>
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Resort</a>
                        </li>
                        <li>
                            <i class="fa fa-circle"></i>
                            <a href="">Other Facilities</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="footer-middle">
    <div class="containers">
        <div class="row">
            <div class="col-md-4">
                <h3>Sign up for our exclusive offers</h3>
            </div>
            <div class="col-md-4">
                <input type="mail" class="input" placeholder="Email">
                <button type="button" class="btn"><i class="fa fa-location-arrow"></i></button>
            </div>
            <div class="col-md-4">
               <div class="social text-center">
                <ul>
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                </ul>
               </div>
            </div>
        </div>
    </div>
</section>


<footer>
    <div class="conainers text-center">
        <p>@ 2022 Online Hotel Booking by <a href="">Subham Hotel Reservation</a> &nbsp; All Rights Reserved</p>
    </div>
</footer>
